RTTClientManagement/WFRestClient/Connected Services/ClientServiceRef1/IClientSPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IClientSPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56365/Service/IClientSPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56365/Service/IClientSPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56365/Service/IClientSPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
      <xsd:import schemaLocation="http://localhost:56365/Service/IClientSPService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:56365/Service/IClientSPService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIClientSPService_InsertClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetails" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_InsertClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClientByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByName" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClientByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClientByName_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q1:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IIClientSPService_GetClients_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q2:ExceptionMessage" />
  </wsdl:message>
  <wsdl:portType name="IIClientSPService">
    <wsdl:operation name="InsertClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IIClientSPService/InsertClientDetails" message="tns:IIClientSPService_InsertClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIClientSPService/InsertClientDetailsResponse" message="tns:IIClientSPService_InsertClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IIClientSPService/GetClientByName" message="tns:IIClientSPService_GetClientByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIClientSPService/GetClientByNameResponse" message="tns:IIClientSPService_GetClientByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIClientSPService/GetClientByNameExceptionMessageFault" name="ExceptionMessageFault" message="tns:IIClientSPService_GetClientByName_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IIClientSPService/GetClients" message="tns:IIClientSPService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIClientSPService/GetClientsResponse" message="tns:IIClientSPService_GetClients_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIClientSPService/GetClientsExceptionMessageFault" name="ExceptionMessageFault" message="tns:IIClientSPService_GetClients_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIClientSPService" type="tns:IIClientSPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertClientDetails">
      <soap:operation soapAction="http://tempuri.org/IIClientSPService/InsertClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientByName">
      <soap:operation soapAction="http://tempuri.org/IIClientSPService/GetClientByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IIClientSPService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IClientSPService">
    <wsdl:port name="BasicHttpBinding_IIClientSPService" binding="tns:BasicHttpBinding_IIClientSPService">
      <soap:address location="http://localhost:56365/Service/IClientSPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>